body {
      margin: 0;
      padding: 0;
      /* box-sizing: border-box; */
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
}

a {
      text-decoration: none;
      display: inline;
      color: black;
}

header {
      width: 100%;
      height: 140px;
      display: grid;
      grid-template-rows: 1fr 1fr;
}

.nav__redes {
      width: 100%;
      height: 50px;
      display: grid;
      background-color: #47cfac;
}

.nav__redes--iconos {
      width: 300px;
      height: auto;
      display: flex;
      justify-items: flex-end;
      align-items: center;
      justify-content: space-between;
      justify-self: end;
      margin-right: 50px;
}

/* con el before los iconos se comportan como fonts */
.nav__redes--iconos span::before {      
      color: white;
      font-size: 35px;
}

nav {
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: 90px;
}

.nav__logo {
      margin-left: 50px;
}

.nav__logo img {
      width: 220px;
      margin-top: 10px;
}

.nav__nosotros {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-right: 50px;
}

.nav__nosotros a {
      color: black;
      border-bottom: 1px solid black;
}